<div class="card center-div">
  <div class="flex flex-column card-container border-round border-solid  border-primary border-1 w-11">
    <div class="flex justify-content-center flex-wrap">
      <h3>
        Créer un compte
      </h3>
    </div>
    <p-divider></p-divider>
    <div class="p-5 px-8 p-card-content flex flex-wrap formgrid grid justify-content-center">
      <form [formGroup]="user" >
        <div [hidden]="!error" class="col-12 formgroup">
          <p-message severity="error" [text]="errorValue"></p-message>
        </div>
        <div class="col-12 mb-2 md:col-2 md:mb-0 p-float-label form-group mt-3">
            <input id="email" type="email" name="email" formControlName="email" [class.is-invalid] = "user.get('email')?.invalid && user.get('email')?.touched" pInputText>
            <label for="email">Email</label>
        </div>
        <div class="col-12 mb-2 md:col-2 md:mb-0 p-float-label mt-4 form-group">
          <input id="firstname" type="text" name="firstname" formControlName="firstname" pInputText>
          <label for="firstname">Prénom</label>
        </div>
        <div class="col-12 mb-2 md:col-2 md:mb-0 p-float-label mt-1 form-group">
          <input id="lastname" type="text" name="lastname" formControlName="lastname" pInputText>
          <label for="lastname">Nom</label>
        </div>
        <div class="col-12 mb-2 md:mb-0 p-float-label mt-4 form-group">
          <p-password id="password" promptLabel="Entrer un mot de passe" formControlName="password"  [toggleMask]="true">
            <ng-template pTemplate="header">
                <h6>Mot de passe</h6>
            </ng-template>
            <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2">Suggestions</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>Au moins une miniscule</li>
                    <li>Au moins une majuscule</li>
                    <li>Au moins un chiffre</li>
                    <li>Minimum 6 charactères</li>
                </ul>
            </ng-template>
          </p-password>
          <label for="password">Password</label>
        </div>

        <div class="col-9 col-offset-3 p-float-label mt-4">
          <p-button [loading]="loading" [disabled]="!canSubmit()" label="Submit" icon="pi pi-check" iconPos="right" (onClick)="onSubmit()"></p-button>
        </div>
      </form>
    </div>
  </div>
<div>
