<div>
  <p-tabView>
    <div *ngIf="true" class="col-12">
      <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
    </div>
    <!-- Restaurant -->
    <p-tabPanel header="Restaurants" leftIcon="pi pi-briefcase">
      <div class="grid card align-content-center justify-content-center align-items-center">
        <div class="flex col-12 align-content-center justify-content-center align-items-center">
          <h2>Créer un restaurant :</h2>
        </div>
        <div class="px-8 flex-column p-card-content grid align-items-center align-content-center">
          <div *ngIf="this.restaurantCreateError" class="col-12">
            <p-message severity="error" [text]="restaurantCreateErrorValue"></p-message>
          </div>

          <div class="p-float-label mt-3 align-content-center align-items-center">
            <input id="restaurantName" pInputText type="text" name="restaurantName" [(ngModel)]="this.restaurantName"/>
            <label for="restaurantName">Nom du restaurant</label>
          </div>

          <div class="p-float-label mt-3 align-content-center align-items-center">
            <input id="restaurantOwnerEmail" pInputText type="text" name="restaurantOwnerEmail" [(ngModel)]="this.restaurantOwnerEmail"/>
            <label for="restaurantOwnerEmail">Email du propriétaire</label>
          </div>

          <div class="mt-4 ml-1">
            <p-button [loading]="loadingNewRestaurant" [disabled]="!canSubmitNewRestaurant()" label="Ajouter" icon="pi pi-check" iconPos="right" (onClick)="onSubmitNewRestaurant()"></p-button>
          </div>
        </div>
      </div>

      <p-divider></p-divider>

      <div>
        <div class="col-10 col-offset-1">
          <h2>Tous les restaurants :</h2>
            <p-table [value]="restaurants" scrollHeight="flex" responsiveLayout="scroll" sortMode="single">
              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                      <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                      <th pSortableColumn="owner">ID Propriétaire <p-sortIcon field="owner"></p-sortIcon></th>
                      <th pSortableColumn="employeesCount">Nombre d'employées <p-sortIcon field="employeesCount"></p-sortIcon></th>
                      <th>
                        Actions
                        <i class="pi pi-pencil"></i>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-restaurant>
                  <tr>
                      <td>{{restaurant.id}}</td>
                      <td>{{restaurant.name}}</td>
                      <td>{{restaurant.code}}</td>
                      <td>
                        <button pButton pRipple type="button" [label]="restaurant.owner.id" (click)="editUser(restaurant.owner.id)" class="p-button-text h-1rem"><i class="pi pi-user"></i></button>
                      </td>
                      <td>{{restaurant.employees.length}}</td>
                      <td>
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded mr-2" (click)="editRestaurant(restaurant.id)"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteRestaurant(restaurant.id)"></button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <!-- Beaches -->
    <p-tabPanel header="Plages" leftIcon="pi pi-briefcase">
      <div class="grid card align-content-center justify-content-center align-items-center">
        <div class="flex col-12 align-content-center justify-content-center align-items-center">
          <h2>Créer une plage :</h2>
        </div>
        <div class="px-8 flex-column p-card-content grid align-items-center align-content-center">
          <div *ngIf="this.beachCreateError" class="col-12">
            <p-message severity="error" [text]="beachCreateErrorValue"></p-message>
          </div>

          <div class="p-float-label mt-3 align-content-center align-items-center">
            <input id="beachName" pInputText type="text" name="beachName" [(ngModel)]="this.beachName"/>
            <label for="beachName">Nom de la plage</label>
          </div>

          <div class="p-float-label mt-3 align-content-center align-items-center">
            <input id="beachOwnerEmail" pInputText type="text" name="rbeachOwnerEmail" [(ngModel)]="this.beachOwnerEmail"/>
            <label for="beachOwnerEmail">Email du propriétaire</label>
          </div>

          <div class="mt-4 ml-1">
            <p-button [loading]="loadingNewBeach" [disabled]="!canSubmitNewBeach()" label="Ajouter" icon="pi pi-check" iconPos="right" (onClick)="onSubmitNewBeach()"></p-button>
          </div>
        </div>
      </div>

      <p-divider></p-divider>

      <div>
        <div class="col-10 col-offset-1">
          <h2>Toutes les plages :</h2>
            <p-table [value]="beaches" scrollHeight="flex" responsiveLayout="scroll" sortMode="single">
              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                      <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                      <th pSortableColumn="owner">ID Propriétaire <p-sortIcon field="owner"></p-sortIcon></th>
                      <th pSortableColumn="employeesCount">Nombre d'employées <p-sortIcon field="employeesCount"></p-sortIcon></th>
                      <th>
                        Actions
                        <i class="pi pi-pencil"></i>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-beach>
                  <tr>
                      <td>{{beach.id}}</td>
                      <td>{{beach.name}}</td>
                      <td>{{beach.code}}</td>
                      <td>
                        <button pButton pRipple type="button" [label]="beach.owner.id" (click)="editUser(beach.owner.id)" class="p-button-text h-1rem"><i class="pi pi-user"></i></button>
                      </td>
                      <td>{{beach.employees.length}}</td>
                      <td>
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded mr-2" (click)="editBeach(beach.id)"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteBeach(beach.id)"></button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>



    <p-tabPanel header="Utilisateurs" leftIcon="pi pi-users">
      <div class="md:col-10 md:col-offset-1 sm:col-12">
        <h2>Tous les utilisateurs :</h2>
          <p-table [value]="users"  scrollHeight="600px" [responsive]="true" [resizableColumns]="true" responsiveLayout="scroll" scrollDirection="both" sortMode="single">
            <ng-template pTemplate="header">
                <tr>
                    <th pFrozenColumn pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th p-columnFilter type="text" field="firstname" pSortableColumn="firstname">Prénom <p-sortIcon field="firstname"></p-sortIcon></th>
                    <th pSortableColumn="lastname">Nom <p-sortIcon field="lastname"></p-sortIcon></th>
                    <th pSortableColumn="email" >Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="restaurant">Restaurant <p-sortIcon field="restaurant"></p-sortIcon></th>
                    <th pSortableColumn="beach" >Plage <p-sortIcon field="beach"></p-sortIcon></th>
                    <th>
                      Actions
                      <i class="pi pi-pencil"></i>
                    </th>
                </tr>
                <tr>
                  <th>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="firstname"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="lastname"></p-columnFilter>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td pFrozenColumn>{{user.id}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>

                    <td *ngIf="user.restaurantOwner || user.restaurantEmployee;else aucun">
                      <button pButton pRipple type="button" [label]="getUserRestaurantName(user)" (click)="goToRestaurantPage(user)" class="p-button-text h-1rem"><i class="pi pi-user"></i></button>
                    </td>
                    <ng-template #aucun><td> Aucun</td></ng-template>

                    <td *ngIf="user.beachOwner || user.beachEmployee; else aucun">
                      <button pButton pRipple type="button" [label]="getUserBeachName(user)" (click)="goToBeachPage(user)" class="p-button-text h-1rem"><i class="pi pi-user"></i></button>
                    </td>
                    <ng-template #aucun><td> Aucun</td></ng-template>

                    <td>
                      <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded mr-2" (click)="editUser(user.id)"></button>
                      <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteUser(user.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
</p-tabView>
</div>
