<div class="grid card">
  <div class="col-12 flex justify-content-center text-5xl mt-5">
    {{this.beach?.name}}
  </div>
</div>

<p-divider class="mx-8"></p-divider>

<div>
  <div class="col-10 col-offset-1">
    <h2>Les produits proposés par vos partenaires : seul vos partenaires peuvent modifier les prix.</h2>
    <p-table [value]="products" sortField="restaurant.name" sortMode="single" dataKey="restaurant.id" rowGroupMode="subheader" groupRowsBy="restaurant.name" scrollHeight="flex" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom</th>
                <th>ID Produit</th>
                <th>Prix</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-product let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
              <td colspan="5">
                <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                <span class="font-bold ml-2">{{product.restaurant.name}}</span>
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.id}}</td>
                <td>{{product.price | currency:"EUR"}}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>
