<div class="grid m-0 md:m-4">
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <div *ngIf="this.orders.length == 0" class="align-self-center justify-content-center">
    <h1>
      Aucune commande en cours
    </h1>
  </div>
  <div *ngFor="let order of this.orders" class="col-12 md:col-6">
    <p-card [header]="order.beach.name" [subheader]="'Par ' + order.user.firstname + ', il y a ' + order.timeElapsed">
      <ng-template pTemplate="content">
        <div *ngFor="let product of order.contains">
          <div (click)="validateProduct(order, product)">
            {{product.name}}
            <p-badge [value]="'' + product.details.quantity" [severity]="product.details.ready ? 'success' : 'danger'" styleClass="ml-2"></p-badge>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button label="Tout valider" icon="pi pi-check" class="mr-4 mb-2" (click)="confirmValidateAll(order)" pButton></button>
        <button label="Commander envoyée" icon="pi pi-send" class="p-button-danger mb-2" (click)="confirmOrderSent(order)" pButton></button>
      </ng-template>
      </p-card>
    </div>
</div>
